<!DOCTYPE html>
<html>
  <head>
    <title>Sample Code</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div>
   		<p>Braintree server - santhosh</p>
   </div>
  </body>
</html>
